################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WingsForFutura/bin
/WingsForFutura/obj
/WingsForFutura.BusinessLogicLayer/.vs
/WingsForFutura.BusinessLogicLayer/bin
/WingsForFutura.BusinessLogicLayer/obj
/WingsForFutura.DataAccessLayer/.vs
/WingsForFutura.DataAccessLayer/bin
/WingsForFutura.DataAccessLayer/obj
/WingsForFutura.ExceptionManager/.vs
/WingsForFutura.ExceptionManager/bin
/WingsForFutura.ExceptionManager/obj
/WingsForFutura.Model/.vs
/WingsForFutura.Model/bin
/WingsForFutura.Model/obj
/WingsForFutura.Resources/.vs
/WingsForFutura.Resources/bin
/WingsForFutura.Resources/obj
/WingsForFutura.Utilities/.vs
/WingsForFutura.Utilities/bin
/WingsForFutura.Utilities/obj
/WingsForFutura.ViewModel/.vs
/WingsForFutura.ViewModel/bin
/WingsForFutura.ViewModel/obj
/WingsForFutura/.vs
